.filmStarRating {
  display: flex;
  row-gap: 5px;
  flex-wrap: wrap;
  font-size: 0;
  & img {
    cursor: pointer;
    width: 20px;
    height: auto;
  }
}

@media (max-width: 370px) {
  .filmStarRating {
    max-width: 110px;
  }
}
